body,
html {
    height: 100%;
}

.router-link-active {
    text-decoration: none;
    color: #fff;
} // 字体默认为浅灰
[class^=el-icon-] {
    color: rgba(0, 0, 0, 0.3);
    &.active {
        color: #000;
    }
}

//清除浮动
.clearfix:after {
    display: block;
    content: "";
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear: both;
}

//清除li标签默认
ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
}