body,
html {
  height: 100%;
}
.router-link-active {
  text-decoration: none;
  color: #fff;
}
[class^=el-icon-] {
  color: rgba(0, 0, 0, 0.3);
}
[class^=el-icon-].active {
  color: #000;
}
.clearfix:after {
  display: block;
  content: "";
  height: 0;
  line-height: 0;
  visibility: hidden;
  clear: both;
}
ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul {
  padding: 0;
}
